script(src="/javascripts/highcharts/highcharts.src.js", type="text/javascript")
script(src="/javascripts/chart.js", type="text/javascript")
script(src="/javascripts/users.js", type="text/javascript")
