a#nodejs(href="http://nodejs.org/", title="Made with node.js")
  img(src="https://s3.amazonaws.com/dev_tapjoy/buffsets/nodejs.png")

script(src="/javascripts/highcharts/highcharts.src.js", type="text/javascript")
script(src="/javascripts/pusher.min.js", type="text/javascript")
script(src="/javascripts/app.js", type="text/javascript")
