.topbar
  .container.fixed
    h3
      a.logo(href='/') Tapjoy Buffset \\m/
    ul.nav
      li
        a(href='/users/') Board
    ul.nav
      li.menu
        a.menu(href='#') Chart
        ul.menu-dropdown
          li
            a(href='/chartz') Competitive
          li
            a(href='/chartz/sum') Cumulative
          li
            a(href='/chartz/punch') Punch-card
    ul.nav.secondary-nav
      - if (currentUser)
        - if (currentUser.admin)
          li
            a(href='/admin/users') #{active_users_count} active / #{users_count} total
        li.menu
          a.menu(href='#')
            - if (currentUser)
              = currentUser.email
            - else
              X
          ul.menu-dropdown
            li
              a(href="/users/#{currentUser._id}/edit") Edit profile
                edit_user_path(currentUser)
            li
              a(href='/services/signout') Sign out
      - else
        li
          a(href='/authenticate') Sign in
.container(style = 'height: 40px;')
