!!! 5
html
  include ../includes/head
  body
    include ../includes/toolbar
    #container.fullsize
    - if (currentUser.admin && typeof(user) != 'undefined')
      #pie_container.fullsize
      #data
        - each buffset in user.buffsets
          = buffset._id
          = buffset.created_at
          | :
          = buffset.type
          br/

    include ../includes/footer
    script
      var series = $.parseJSON('#{JSON.stringify(series)}'.replace(/&quot;/g, '"'));
      for (var ser in series) {
        var data = series[ser].data;
        for (var arr in data) {
          series[ser].data[arr][0] = Date.parse(data[arr][0]);
        }
      }
      createChart(series);
    - if (currentUser.admin && typeof(user) != 'undefined')
      script
        var pieData = $.parseJSON('#{JSON.stringify(pieData)}'.replace(/&quot;/g, '"'));
        var pieSeries = [{ type: 'pie', name: '', data: pieData }];
        var title = 'Buffset Pie Chart';
        createPieChart(pieSeries, title);
