!!! 5
html
  include ../includes/head
  body
    include ../includes/toolbar
    #container.fullsize
    - if (typeof(pieData) != 'undefined')
      #pie_container.fullsize
      #pie_left.halfsize
      #pie_right.halfsize
      .clear
    - if (currentUser.admin && typeof(user) != 'undefined')
      #data
        - each buffset in user.buffsets
          = buffset._id
          = buffset.created_at
          | :
          = buffset.type
          br/

    include ../includes/footer
    script
      var series = $.parseJSON('#{JSON.stringify(series)}'.replace(/&quot;/g, '"'));
      var pieData = $.parseJSON('#{JSON.stringify(pieData)}'.replace(/&quot;/g, '"'));
      for (var ser in series) {
        var data = series[ser].data;
        for (var arr in data) {
          series[ser].data[arr][0] = data[arr][0] * 3600000;
        }
      }
      console.log(series);
      createChart(series);
      if (pieData.size == 1) {
        var pieSeries = [{ type: 'pie', name: '', data: pieData.data }];
        var title = 'Buffset Pie Chart';
        createPieChart(pieSeries, title);
        $('#pie_right, #pie_left').hide();
      } else {
        var pieSeries = [{ type: 'pie', name: '', data: pieData.data[0] }];
        var title = pieData.teamNames[0];
        createPieChart(pieSeries, title, 'pie_left');
        pieSeries = [{ type: 'pie', name: '', data: pieData.data[1] }];
        title = pieData.teamNames[1];
        createPieChart(pieSeries, title, 'pie_right');
        $('#pie_container').hide();
      }
