!!! 5
html
  include ../includes/head
  body
    include ../includes/toolbar
    .container#body
      .text
        #container
      - if (currentUser.admin && typeof(user) != 'undefined')
        - each buffset in user.buffsets
          = buffset.created_at
          | :
          = buffset.type
          br/

    include ../includes/footer
    script
      var series = $.parseJSON('#{JSON.stringify(series)}'.replace(/&quot;/g, '"'));
      for (var ser in series) {
        var data = series[ser].data;
        for (var arr in data) {
          series[ser].data[arr][0] = Date.parse(data[arr][0]);
        }
      }
      createChart(series);
