!!! 5
html
  include ../includes/head
  body
    include ../includes/toolbar
    .container#body
      #season-number-outside
        #season-number 3
      .text
        #container
    include ../includes/footer
    script
      var series = $.parseJSON('#{JSON.stringify(series)}'.replace(/&quot;/g, '"'));
      var categories = $.parseJSON('#{JSON.stringify(categories)}'.replace(/&quot;/g, '"'));
      createStackedChart(categories, series);
