!!! 5
html
  include ../includes/head
  body
    include ../includes/toolbar
    #container.fullsize
    include ../includes/footer
    script
      var series = $.parseJSON('#{JSON.stringify(series)}'.replace(/&quot;/g, '"'));
      var categories = $.parseJSON('#{JSON.stringify(categories)}'.replace(/&quot;/g, '"'));
      createStackedChart(categories, series);
