!!! 5
html
  include ../includes/head
  body
    include ../includes/toolbar
    .container#body
      #season-number-outside
        #season-number 3
      .text &nbsp;
      img(src=chart_url)
    include ../includes/footer
