!!! 5
html
  include ../includes/head
  body
    include ../includes/toolbar
    .container#body
      #season-number-outside
        #season-number 3
      #container
        section#edit-user.text
          form.edit_user(action="/users/" + user._id, method="post")
            fieldset
              legend Edit user
              .clearfix
                label(value='user_email') Email
                input#user_email.xlarge(type='email', disabled='disabled', value=user.email, name='user[email]')
              .clearfix
                label(value='user_handle') Handle
                input#user_handle.xlarge(type='text', value=user.handle, name='user[handle]')
              .clearfix
                label(value='user_abuse') Abusive language?
                input#user_abuse(type="hidden", name="user[abuse]", value="0")
                input#user_abuse(type="checkbox", name="user[abuse]", value="1", checked=user.abuse)
              .clearfix
                .row
                  .span1.columns &nbsp;
                  .span4.columns
                    input.btn.large(type='button', value='Cancel', onclick='javascript:history.back();')
                  .span4.columns
                    input.btn.large.primary#user_submit(type='submit', value='Update User')
                  .span3.columns &nbsp;

    include ../includes/footer
