!!! 5
html
  include ../includes/head
  body
    include ../includes/toolbar
    .container#body
      #body-top
        #season-number-outside
          #season-number 3
      #body-middle
        section#edit-user.text
          h2 Edit user
          form.edit_user(action="/users/" + user._id, method="post")
            table
              tbody
                tr
                  td
                    label Email
                  td
                    label=user.email
                tr
                  td
                    label(value='user_handle') Handle
                  td
                    input#user_handle.xlarge(type='text', value=user.handle, name='user[handle]', maxlength=8)
                tr
                  td
                    label(value='user_team') Team
                  td
                    select#user_team(name="user[team]")
                      option(value=0, selected=(user.team == 0))= teamNames[0]
                      option(value=1, selected=(user.team == 1))= teamNames[1]
                tr
                  td
                    label(value='user_abuse') Allow abusive language?
                  td
                    select#user_abuse(name="user[abuse]")
                      option(value=0, selected=(user.abuse)) Yes
                      option(value=1, selected=(!user.abuse)) No
            .row
              .span1.columns &nbsp;
              .span4.columns
                input.btn.large(type='button', value='Cancel', onclick='javascript:history.back();')
              .span4.columns
                input.btn.large.primary#user_submit(type='submit', value='Update User')
              .span3.columns &nbsp;
      #body-bottom
    include ../includes/footer
