!!! 5
html(lang="en")
  head
    title= title
  body
    h1 Buffsets - users
    #container
      - each user in users
        p
          a(href='/users/#{user._id}')= user.handle
        p= user.pushup_set_count
