!!! 5
html
  include ../includes/head
  body
    include ../includes/toolbar
    .container#body
      #season-number-outside
        #season-number 3
      #container
        section#users.text
          - each user in users
            - myUser = (user._id == String(currentUser._id))
            - user_id = myUser ? 'current_user' : "user_" + user._id
            .user(id = user_id)
              .handle
                a(href = '/users/' + user._id)= user.handle
              - if (myUser)
                .count#edit_current_user
                  a(href = '#')= helpers.tallyize(user.buffsets.length)
                .hidden#edit_current_user_form
                  form.edit_user(action="/users/#{user._id}", method="post", id='edit_user' + user._id)
                    select#user_buffset_type(name="user[buffset_type]")
                      option(value="pushup") Push-up (20)
                      option(value="pullup") Pull-up (5)
                      option(value="situp") Sit-up (30)
                    input.btn.primary#user_submit(name="commit", type="submit", value="save")
                    input.btn#cancel_edit(type="submit", value="cancel")
              - else
                .count= helpers.tallyize(user.pushup_set_count)

    include ../includes/footer
    script
      var usersHash = {}
