!!!
html
  include ../includes/head
  body
    include ../includes/toolbar
    .container
      section#alerts
    .container#body
      #season-number-outside
        #season-number 2
      #container
        each user in users
          p 1
    script
      :plain
        $('li.menu').click(function(e){
          if (e.srcElement.className) {
            $(this).children('ul.menu-dropdown').toggle();
            return false;
          }
        });
        $('.close').click(function(){
          $(this).parent().slideUp();
          return false;
        });

